# quarto backend folder
/.quarto/

# .sverto directory (except rollup.config.js)
/.sverto/import
/.sverto/.sverto-*
!/.sverto/rollup.config.js

# installed npm packages
/node_modules/

# system files
.DS_Store

# lua
/.luarc.json

# rendered documentation site
/docs/_site/
/docs/.quarto/
/docs/.sverto/

# sverto extension in docs site (we get it from project root on render)
/docs/_extensions/sverto

# rendered single doc example files
/example_files/
