# quarto backend folder
/.quarto/

# .quarto-svelte directory (except rollup.config.js)
/.quarto-svelte/import
/.quarto-svelte/.quarto-svelte-*
!/.quarto-svelte/rollup.config.js

# installed npm packages
/node_modules/

# system files
.DS_Store

# lua
/.luarc.json

# rendered documentation site
/docs/_site/
/docs/.quarto/
/docs/.quarto-svelte/

# quarto-svelte extension + files in docs site (we get it from project root on render)
/docs/_extensions/quarto-svelte
/docs/package.json
/docs/package-lock.json